logo {
    font-weight: 600;
    font-size: 25px;
}

ul.nav {
    float: right;
    list-style: none;
}

ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor:pointer;
    transition: opacity 500ms ease;
}

ul.nav li:hover {
    opacity: 0.5;
}
