*{
    margin: 0;
    padding: 0;
}

body{
    background: #c7c7c7;
    color: #222;
    font-weight: 300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wrapper {
    width: 1280px;
    margin: 50px auto;

}