*{
    margin: 0;
    padding: 0;
}

body{
    background: #c7c7c7;
    color: #222;
    font-weight: 300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wrapper {
    width: 1280px;
    margin: 50px auto;

}

header .logo {
    font-weight: 600;
    font-size: 25px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor:pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .presentation {
    margin: 50px 0;
    background: url("./img/magaziny-krosovok-v-berline-2-2.png") no-repeat;
    width: 80%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #4d4c4c;
    position: relative;
}

header .presentation::after {
    content: "Лучшие кроссовки Волжский";
    position: absolute;
    top: 220px;
    left: 20px;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}



header .presentation::before {
    content: "По доступным ценам";
    position: absolute;
    top: 270px;
    left: 20px;
    font-size: 15px;
    font-weight: 300;
    color: #b3b3b3;
}

footer{
    text-align: center;
    margin-top: 10px;
}